<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico">
    <title>{% block title %}EcoFlex{% endblock %}</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>EcoFlex</h1>
        <nav>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>EcoFlex - Alpha-Trésor Ngendandumwe, Ismail Batoul et Édouard Germain - 2025 - Cégep Garneau</p>
    </footer>
</body>
</html>