{% extends "_modele.jinja" %}

{% block content %}
        <h2>Bienvenue sur EcoFlex</h2>
        <p>Site en construction et disponible incessamment sous peu. Merci de votre patience.</p>
{% endblock %}